aws/cloudformation/template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: Screeps AI Advisor - Colony monitoring and analysis

Parameters:
  Environment:
    Type: String
    Default: prod
    AllowedValues: [dev, prod]
  ProjectName:
    Type: String
    Default: screeps-advisor
  ScreepsShard:
    Type: String
    Default: shard0
  RetentionDays:
    Type: Number
    Default: 7
  LambdaCodeBucket:
    Type: String
    Description: S3 bucket containing Lambda code packages (created before stack deployment)

Resources:
  # ==================== DynamoDB Tables ====================
  SnapshotsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub ${ProjectName}-snapshots
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: roomName
          AttributeType: S
        - AttributeName: timestamp
          AttributeType: N
      KeySchema:
        - AttributeName: roomName
          KeyType: HASH
        - AttributeName: timestamp
          KeyType: RANGE
      StreamSpecification:
        StreamViewType: NEW_AND_OLD_IMAGES
      TimeToLiveSpecification:
        AttributeName: expiresAt
        Enabled: true
      Tags:
        - Key: Project
          Value: !Ref ProjectName

  EventsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub ${ProjectName}-events
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: roomName
          AttributeType: S
        - AttributeName: eventId
          AttributeType: S
        - AttributeName: timestamp
          AttributeType: N
      KeySchema:
        - AttributeName: roomName
          KeyType: HASH
        - AttributeName: eventId
          KeyType: RANGE
      GlobalSecondaryIndexes:
        - IndexName: timestamp-index
          KeySchema:
            - AttributeName: roomName
              KeyType: HASH
            - AttributeName: timestamp
              KeyType: RANGE
          Projection:
            ProjectionType: ALL
      TimeToLiveSpecification:
        AttributeName: expiresAt
        Enabled: true
      Tags:
        - Key: Project
          Value: !Ref ProjectName

  RecommendationsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub ${ProjectName}-recommendations
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: id
          AttributeType: S
        - AttributeName: roomName
          AttributeType: S
        - AttributeName: createdAt
          AttributeType: N
        - AttributeName: status
          AttributeType: S
      KeySchema:
        - AttributeName: id
          KeyType: HASH
      GlobalSecondaryIndexes:
        - IndexName: room-index
          KeySchema:
            - AttributeName: roomName
              KeyType: HASH
            - AttributeName: createdAt
              KeyType: RANGE
          Projection:
            ProjectionType: ALL
        - IndexName: status-index
          KeySchema:
            - AttributeName: status
              KeyType: HASH
            - AttributeName: createdAt
              KeyType: RANGE
          Projection:
            ProjectionType: ALL
        - IndexName: room-status-index
          KeySchema:
            - AttributeName: roomName
              KeyType: HASH
            - AttributeName: status
              KeyType: RANGE
          Projection:
            ProjectionType: ALL
      TimeToLiveSpecification:
        AttributeName: expiresAt
        Enabled: true
      Tags:
        - Key: Project
          Value: !Ref ProjectName

  PatternStateTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub ${ProjectName}-pattern-state
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: patternId
          AttributeType: S
      KeySchema:
        - AttributeName: patternId
          KeyType: HASH
      Tags:
        - Key: Project
          Value: !Ref ProjectName

  # Intel table for persistent room intel storage
  IntelTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub ${ProjectName}-intel
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: roomName
          AttributeType: S
      KeySchema:
        - AttributeName: roomName
          KeyType: HASH
      Tags:
        - Key: Project
          Value: !Ref ProjectName

  # Knowledge table for learning/feedback loop
  KnowledgeTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub ${ProjectName}-knowledge
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: patternHash
          AttributeType: S
        - AttributeName: category
          AttributeType: S
        - AttributeName: successRate
          AttributeType: N
      KeySchema:
        - AttributeName: patternHash
          KeyType: HASH
      GlobalSecondaryIndexes:
        - IndexName: category-success-index
          KeySchema:
            - AttributeName: category
              KeyType: HASH
            - AttributeName: successRate
              KeyType: RANGE
          Projection:
            ProjectionType: ALL
      Tags:
        - Key: Project
          Value: !Ref ProjectName

  # ==================== Metrics Table (DynamoDB) ====================
  # Using DynamoDB instead of TimeStream for metrics storage
  MetricsHistoryTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub ${ProjectName}-metrics-history
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: roomName
          AttributeType: S
        - AttributeName: timestamp
          AttributeType: N
        - AttributeName: metricName
          AttributeType: S
      KeySchema:
        - AttributeName: roomName
          KeyType: HASH
        - AttributeName: timestamp
          KeyType: RANGE
      GlobalSecondaryIndexes:
        - IndexName: metric-index
          KeySchema:
            - AttributeName: roomName
              KeyType: HASH
            - AttributeName: metricName
              KeyType: RANGE
          Projection:
            ProjectionType: ALL
      TimeToLiveSpecification:
        AttributeName: expiresAt
        Enabled: true
      Tags:
        - Key: Project
          Value: !Ref ProjectName

  # ==================== Room Recordings ====================
  RecordingsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub ${ProjectName}-recordings
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: recordingId
          AttributeType: S
      KeySchema:
        - AttributeName: recordingId
          KeyType: HASH
      TimeToLiveSpecification:
        AttributeName: expiresAt
        Enabled: true
      Tags:
        - Key: Project
          Value: !Ref ProjectName

  # ==================== EventBridge ====================
  ScreepsEventBus:
    Type: AWS::Events::EventBus
    Properties:
      Name: !Sub ${ProjectName}-events

  # Rule for snapshot events -> metrics writer
  SnapshotMetricsRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub ${ProjectName}-snapshot-to-metrics
      EventBusName: !Ref ScreepsEventBus
      EventPattern:
        source:
          - screeps.advisor
        detail-type:
          - SnapshotCreated
      State: ENABLED
      Targets:
        - Id: metrics-writer
          Arn: !GetAtt MetricsWriterFunction.Arn

  # Rule for significant events -> analysis workflow
  AnalysisTriggerRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub ${ProjectName}-analysis-trigger
      EventBusName: !Ref ScreepsEventBus
      EventPattern:
        source:
          - screeps.advisor
        detail-type:
          - SignificantChange
          - ThreatDetected
          - EconomyAnomaly
          - RCLProgress
      State: ENABLED
      Targets:
        - Id: analysis-workflow
          Arn: !Ref AnalysisWorkflow
          RoleArn: !GetAtt EventBridgeStepFunctionsRole.Arn

  # Rule for recommendations -> outcome evaluator (delayed check)
  OutcomeCheckRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub ${ProjectName}-outcome-check
      EventBusName: !Ref ScreepsEventBus
      EventPattern:
        source:
          - screeps.advisor
        detail-type:
          - RecommendationCreated
      State: ENABLED
      Targets:
        - Id: outcome-evaluator
          Arn: !GetAtt OutcomeEvaluatorFunction.Arn

  # ==================== S3 Analytics Bucket (for Athena/QuickSight) ====================
  AnalyticsBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub ${ProjectName}-analytics-${AWS::AccountId}
      LifecycleConfiguration:
        Rules:
          - Id: ExpireOldData
            Status: Enabled
            ExpirationInDays: 30
      Tags:
        - Key: Project
          Value: !Ref ProjectName

  # ==================== S3 Archiving ====================
  ArchiveBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub ${ProjectName}-archive-${AWS::AccountId}
      LifecycleConfiguration:
        Rules:
          - Id: ArchiveToGlacier
            Status: Enabled
            Transitions:
              - StorageClass: GLACIER
                TransitionInDays: 30
          - Id: DeleteOld
            Status: Enabled
            ExpirationInDays: 365
      Tags:
        - Key: Project
          Value: !Ref ProjectName

  # Firehose for archiving events
  EventFirehose:
    Type: AWS::KinesisFirehose::DeliveryStream
    Properties:
      DeliveryStreamName: !Sub ${ProjectName}-event-archive
      DeliveryStreamType: DirectPut
      S3DestinationConfiguration:
        BucketARN: !GetAtt ArchiveBucket.Arn
        RoleARN: !GetAtt FirehoseRole.Arn
        Prefix: events/year=!{timestamp:yyyy}/month=!{timestamp:MM}/day=!{timestamp:dd}/
        ErrorOutputPrefix: errors/
        BufferingHints:
          IntervalInSeconds: 300
          SizeInMBs: 5
        CompressionFormat: GZIP

  FirehoseRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-firehose-role
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: firehose.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: FirehoseS3Policy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:PutObject
                  - s3:GetBucketLocation
                Resource:
                  - !GetAtt ArchiveBucket.Arn
                  - !Sub ${ArchiveBucket.Arn}/*

  # ==================== Secrets ====================
  ScreepsTokenSecret:
    Type: AWS::SecretsManager::Secret
    Properties:
      Name: screeps/api-token
      Description: Screeps API token for data collection
      SecretString: PLACEHOLDER_SET_AFTER_DEPLOY
      Tags:
        - Key: Project
          Value: !Ref ProjectName

  AnthropicKeySecret:
    Type: AWS::SecretsManager::Secret
    Properties:
      Name: screeps/anthropic-api-key
      Description: Anthropic API key for Claude analysis
      SecretString: PLACEHOLDER_SET_AFTER_DEPLOY
      Tags:
        - Key: Project
          Value: !Ref ProjectName

  # ==================== IAM Roles ====================
  DataCollectorRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-data-collector-role
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: DataCollectorPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:PutItem
                  - dynamodb:BatchWriteItem
                  - dynamodb:Query
                Resource:
                  - !GetAtt SnapshotsTable.Arn
                  - !GetAtt EventsTable.Arn
                  - !GetAtt IntelTable.Arn
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource:
                  - !Ref ScreepsTokenSecret
              - Effect: Allow
                Action:
                  - s3:PutObject
                  - s3:GetObject
                Resource:
                  - !Sub ${AnalyticsBucket.Arn}/*
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: arn:aws:logs:*:*:*

  AnalysisEngineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-analysis-engine-role
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: AnalysisEnginePolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:Query
                  - dynamodb:Scan
                  - dynamodb:GetItem
                Resource:
                  - !GetAtt SnapshotsTable.Arn
                  - !Sub ${SnapshotsTable.Arn}/index/*
                  - !GetAtt EventsTable.Arn
                  - !Sub ${EventsTable.Arn}/index/*
              - Effect: Allow
                Action:
                  - dynamodb:PutItem
                  - dynamodb:UpdateItem
                  - dynamodb:Query
                Resource:
                  - !GetAtt RecommendationsTable.Arn
                  - !Sub ${RecommendationsTable.Arn}/index/*
                  - !GetAtt PatternStateTable.Arn
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource:
                  - !Ref AnthropicKeySecret
              - Effect: Allow
                Action:
                  - ssm:GetParameter
                Resource:
                  - !Sub arn:aws:ssm:${AWS::Region}:${AWS::AccountId}:parameter/screeps-advisor/*
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: arn:aws:logs:*:*:*

  ApiRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-api-role
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: ApiPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:Query
                  - dynamodb:Scan
                  - dynamodb:GetItem
                  - dynamodb:UpdateItem
                Resource:
                  - !GetAtt SnapshotsTable.Arn
                  - !Sub ${SnapshotsTable.Arn}/index/*
                  - !GetAtt EventsTable.Arn
                  - !Sub ${EventsTable.Arn}/index/*
                  - !GetAtt RecommendationsTable.Arn
                  - !Sub ${RecommendationsTable.Arn}/index/*
                  - !GetAtt IntelTable.Arn
              - Effect: Allow
                Action:
                  - dynamodb:Query
                  - dynamodb:Scan
                  - dynamodb:GetItem
                  - dynamodb:PutItem
                  - dynamodb:UpdateItem
                Resource:
                  - !GetAtt RecordingsTable.Arn
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                Resource:
                  - !GetAtt AnalyticsBucket.Arn
                  - !Sub ${AnalyticsBucket.Arn}/recordings/*
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource:
                  - !Ref ScreepsTokenSecret
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:screeps-recording-analyzer-${Environment}
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: arn:aws:logs:*:*:*

  # Stream Processor Role (DynamoDB Streams -> EventBridge)
  StreamProcessorRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-stream-processor-role
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StreamProcessorPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:GetRecords
                  - dynamodb:GetShardIterator
                  - dynamodb:DescribeStream
                  - dynamodb:ListStreams
                Resource:
                  - !Sub ${SnapshotsTable.Arn}/stream/*
              - Effect: Allow
                Action:
                  - dynamodb:Query
                Resource:
                  - !GetAtt SnapshotsTable.Arn
              - Effect: Allow
                Action:
                  - events:PutEvents
                Resource:
                  - !GetAtt ScreepsEventBus.Arn
              - Effect: Allow
                Action:
                  - firehose:PutRecord
                  - firehose:PutRecordBatch
                Resource:
                  - !GetAtt EventFirehose.Arn
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: arn:aws:logs:*:*:*

  # Metrics Writer Role (EventBridge -> DynamoDB)
  MetricsWriterRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-metrics-writer-role
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: MetricsWriterPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:PutItem
                  - dynamodb:BatchWriteItem
                Resource:
                  - !GetAtt MetricsHistoryTable.Arn
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: arn:aws:logs:*:*:*

  # Outcome Evaluator Role (checks recommendation outcomes)
  OutcomeEvaluatorRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-outcome-evaluator-role
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: OutcomeEvaluatorPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:Query
                  - dynamodb:GetItem
                Resource:
                  - !GetAtt SnapshotsTable.Arn
                  - !GetAtt RecommendationsTable.Arn
                  - !Sub ${RecommendationsTable.Arn}/index/*
              - Effect: Allow
                Action:
                  - dynamodb:PutItem
                  - dynamodb:UpdateItem
                Resource:
                  - !GetAtt KnowledgeTable.Arn
                  - !GetAtt RecommendationsTable.Arn
              - Effect: Allow
                Action:
                  - dynamodb:Query
                Resource:
                  - !GetAtt MetricsHistoryTable.Arn
                  - !Sub ${MetricsHistoryTable.Arn}/index/*
              - Effect: Allow
                Action:
                  - dynamodb:GetRecords
                  - dynamodb:GetShardIterator
                  - dynamodb:DescribeStream
                  - dynamodb:ListStreams
                Resource:
                  - !GetAtt SnapshotsTable.StreamArn
              - Effect: Allow
                Action:
                  - scheduler:CreateSchedule
                  - scheduler:DeleteSchedule
                Resource: '*'
              - Effect: Allow
                Action:
                  - iam:PassRole
                Resource:
                  - !GetAtt SchedulerExecutionRole.Arn
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: arn:aws:logs:*:*:*

  # Step Functions Execution Role
  AnalysisWorkflowRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-analysis-workflow-role
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: AnalysisWorkflowPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt ContextBuilderFunction.Arn
                  - !GetAtt ClaudeAnalyzerFunction.Arn
                  - !GetAtt RecommendationWriterFunction.Arn
              - Effect: Allow
                Action:
                  - events:PutEvents
                Resource:
                  - !GetAtt ScreepsEventBus.Arn

  # EventBridge -> Step Functions Role
  EventBridgeStepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-eventbridge-sfn-role
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StartStepFunctions
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource:
                  - !Ref AnalysisWorkflow

  # Scheduler Execution Role (for delayed outcome checks)
  # Note: Uses constructed ARN to avoid circular dependency with OutcomeEvaluatorFunction
  SchedulerExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-scheduler-execution-role
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: scheduler.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeLambda
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:screeps-outcome-evaluator-${Environment}

  # Context Builder Role
  ContextBuilderRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-context-builder-role
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: ContextBuilderPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:Query
                  - dynamodb:GetItem
                Resource:
                  - !GetAtt SnapshotsTable.Arn
                  - !GetAtt EventsTable.Arn
                  - !Sub ${EventsTable.Arn}/index/*
                  - !GetAtt KnowledgeTable.Arn
                  - !Sub ${KnowledgeTable.Arn}/index/*
                  - !GetAtt RecommendationsTable.Arn
                  - !Sub ${RecommendationsTable.Arn}/index/*
                  - !GetAtt MetricsHistoryTable.Arn
                  - !Sub ${MetricsHistoryTable.Arn}/index/*
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: arn:aws:logs:*:*:*

  # Claude Analyzer Role
  ClaudeAnalyzerRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-claude-analyzer-role
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: ClaudeAnalyzerPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource:
                  - !Ref AnthropicKeySecret
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: arn:aws:logs:*:*:*

  # Recommendation Writer Role
  RecommendationWriterRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-recommendation-writer-role
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: RecommendationWriterPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:PutItem
                  - dynamodb:UpdateItem
                Resource:
                  - !GetAtt RecommendationsTable.Arn
              - Effect: Allow
                Action:
                  - events:PutEvents
                Resource:
                  - !GetAtt ScreepsEventBus.Arn
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: arn:aws:logs:*:*:*

  # ==================== Lambda Functions ====================
  DataCollectorFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub screeps-data-collector-${Environment}
      Runtime: nodejs20.x
      Handler: index.handler
      Role: !GetAtt DataCollectorRole.Arn
      Timeout: 30
      MemorySize: 256
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: data-collector.zip
      Environment:
        Variables:
          SNAPSHOTS_TABLE: !Ref SnapshotsTable
          EVENTS_TABLE: !Ref EventsTable
          INTEL_TABLE: !Ref IntelTable
          SCREEPS_TOKEN_SECRET: !Ref ScreepsTokenSecret
          SCREEPS_SHARD: !Ref ScreepsShard
          RETENTION_DAYS: !Ref RetentionDays
          ANALYTICS_BUCKET: !Ref AnalyticsBucket

  AnalysisEngineFunction:
    Type: AWS::Lambda::Function
    DependsOn: HttpApi
    Properties:
      FunctionName: !Sub screeps-analysis-engine-${Environment}
      Runtime: nodejs20.x
      Handler: index.handler
      Role: !GetAtt AnalysisEngineRole.Arn
      Timeout: 120
      MemorySize: 512
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: analysis-engine.zip
      Environment:
        Variables:
          SNAPSHOTS_TABLE: !Ref SnapshotsTable
          EVENTS_TABLE: !Ref EventsTable
          RECOMMENDATIONS_TABLE: !Ref RecommendationsTable
          ANTHROPIC_KEY_SECRET: !Ref AnthropicKeySecret
          API_ENDPOINT: !GetAtt HttpApi.ApiEndpoint

  ApiFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub screeps-api-${Environment}
      Runtime: nodejs20.x
      Handler: index.handler
      Role: !GetAtt ApiRole.Arn
      Timeout: 30
      MemorySize: 256
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: api.zip
      Environment:
        Variables:
          SNAPSHOTS_TABLE: !Ref SnapshotsTable
          EVENTS_TABLE: !Ref EventsTable
          RECOMMENDATIONS_TABLE: !Ref RecommendationsTable
          INTEL_TABLE: !Ref IntelTable
          RECORDINGS_TABLE: !Ref RecordingsTable
          ANALYTICS_BUCKET: !Ref AnalyticsBucket
          SCREEPS_TOKEN_SECRET: !Ref ScreepsTokenSecret
          SCREEPS_SHARD: !Ref ScreepsShard
          ANALYZER_FUNCTION: !Ref RecordingAnalyzerFunction

  # Stream Processor - DynamoDB Streams -> EventBridge
  StreamProcessorFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub screeps-stream-processor-${Environment}
      Runtime: nodejs20.x
      Handler: index.handler
      Role: !GetAtt StreamProcessorRole.Arn
      Timeout: 60
      MemorySize: 256
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: stream-processor.zip
      Environment:
        Variables:
          EVENT_BUS_NAME: !Ref ScreepsEventBus
          FIREHOSE_STREAM: !Ref EventFirehose
          SNAPSHOTS_TABLE: !Ref SnapshotsTable

  # Event source mapping for DynamoDB Streams
  SnapshotStreamMapping:
    Type: AWS::Lambda::EventSourceMapping
    Properties:
      EventSourceArn: !GetAtt SnapshotsTable.StreamArn
      FunctionName: !Ref StreamProcessorFunction
      StartingPosition: LATEST
      BatchSize: 10
      MaximumBatchingWindowInSeconds: 5

  # Metrics Writer - EventBridge -> TimeStream
  MetricsWriterFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub screeps-metrics-writer-${Environment}
      Runtime: nodejs20.x
      Handler: index.handler
      Role: !GetAtt MetricsWriterRole.Arn
      Timeout: 30
      MemorySize: 256
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: metrics-writer.zip
      Environment:
        Variables:
          METRICS_TABLE: !Ref MetricsHistoryTable
          
  MetricsWriterPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref MetricsWriterFunction
      Action: lambda:InvokeFunction
      Principal: events.amazonaws.com
      SourceArn: !GetAtt SnapshotMetricsRule.Arn

  # Context Builder - gathers context for AI analysis
  ContextBuilderFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub screeps-context-builder-${Environment}
      Runtime: nodejs20.x
      Handler: index.handler
      Role: !GetAtt ContextBuilderRole.Arn
      Timeout: 30
      MemorySize: 512
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: context-builder.zip
      Environment:
        Variables:
          SNAPSHOTS_TABLE: !Ref SnapshotsTable
          EVENTS_TABLE: !Ref EventsTable
          KNOWLEDGE_TABLE: !Ref KnowledgeTable
          RECOMMENDATIONS_TABLE: !Ref RecommendationsTable
          METRICS_TABLE: !Ref MetricsHistoryTable
          
  # Claude Analyzer - calls Claude API for analysis
  ClaudeAnalyzerFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub screeps-claude-analyzer-${Environment}
      Runtime: nodejs20.x
      Handler: index.handler
      Role: !GetAtt ClaudeAnalyzerRole.Arn
      Timeout: 120
      MemorySize: 512
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: claude-analyzer.zip
      Environment:
        Variables:
          ANTHROPIC_KEY_SECRET: !Ref AnthropicKeySecret

  # Recommendation Writer - writes recommendations to DynamoDB
  RecommendationWriterFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub screeps-recommendation-writer-${Environment}
      Runtime: nodejs20.x
      Handler: index.handler
      Role: !GetAtt RecommendationWriterRole.Arn
      Timeout: 30
      MemorySize: 256
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: recommendation-writer.zip
      Environment:
        Variables:
          RECOMMENDATIONS_TABLE: !Ref RecommendationsTable
          EVENT_BUS_NAME: !Ref ScreepsEventBus

  # Outcome Evaluator - checks if recommendations worked
  OutcomeEvaluatorFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub screeps-outcome-evaluator-${Environment}
      Runtime: nodejs20.x
      Handler: index.handler
      Role: !GetAtt OutcomeEvaluatorRole.Arn
      Timeout: 60
      MemorySize: 256
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: outcome-evaluator.zip
      Environment:
        Variables:
          SNAPSHOTS_TABLE: !Ref SnapshotsTable
          RECOMMENDATIONS_TABLE: !Ref RecommendationsTable
          KNOWLEDGE_TABLE: !Ref KnowledgeTable
          METRICS_TABLE: !Ref MetricsHistoryTable
          SCHEDULER_ROLE_ARN: !GetAtt SchedulerExecutionRole.Arn

  OutcomeEvaluatorPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref OutcomeEvaluatorFunction
      Action: lambda:InvokeFunction
      Principal: events.amazonaws.com
      SourceArn: !GetAtt OutcomeCheckRule.Arn

  # Event Source Mapping: DynamoDB Stream -> Outcome Evaluator
  OutcomeEvaluatorStreamMapping:
    Type: AWS::Lambda::EventSourceMapping
    Properties:
      EventSourceArn: !GetAtt SnapshotsTable.StreamArn
      FunctionName: !Ref OutcomeEvaluatorFunction
      StartingPosition: LATEST
      BatchSize: 10
      MaximumBatchingWindowInSeconds: 30
      FilterCriteria:
        Filters:
          - Pattern: '{"eventName": ["INSERT"]}'

  # Room Recorder Role
  RoomRecorderRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-room-recorder-role
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: RoomRecorderPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:GetItem
                  - dynamodb:PutItem
                  - dynamodb:UpdateItem
                  - dynamodb:Scan
                Resource:
                  - !GetAtt RecordingsTable.Arn
              - Effect: Allow
                Action:
                  - s3:PutObject
                Resource:
                  - !Sub ${AnalyticsBucket.Arn}/recordings/*
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource:
                  - !Ref ScreepsTokenSecret
              - Effect: Allow
                Action:
                  - events:PutEvents
                Resource:
                  - !GetAtt ScreepsEventBus.Arn
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: arn:aws:logs:*:*:*

  # Recording Analyzer Role
  RecordingAnalyzerRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-recording-analyzer-role
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: RecordingAnalyzerPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:GetItem
                  - dynamodb:UpdateItem
                Resource:
                  - !GetAtt RecordingsTable.Arn
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                Resource:
                  - !GetAtt AnalyticsBucket.Arn
                  - !Sub ${AnalyticsBucket.Arn}/recordings/*
              - Effect: Allow
                Action:
                  - s3:PutObject
                Resource:
                  - !Sub ${AnalyticsBucket.Arn}/recordings/*/analysis/*
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: arn:aws:logs:*:*:*

  # Cleanup Lambda - marks stale pending recommendations as expired
  CleanupRecommendationsRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${ProjectName}-cleanup-recs-role
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: CleanupRecommendationsPolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:Scan
                  - dynamodb:UpdateItem
                Resource:
                  - !GetAtt RecommendationsTable.Arn
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: arn:aws:logs:*:*:*

  CleanupRecommendationsFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub screeps-cleanup-recommendations-${Environment}
      Runtime: nodejs20.x
      Handler: index.handler
      Role: !GetAtt CleanupRecommendationsRole.Arn
      Timeout: 120
      MemorySize: 256
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: cleanup-recommendations.zip
      Environment:
        Variables:
          RECOMMENDATIONS_TABLE: !Ref RecommendationsTable

  # Room Recorder Lambda
  RoomRecorderFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub screeps-room-recorder-${Environment}
      Runtime: nodejs20.x
      Handler: index.handler
      Role: !GetAtt RoomRecorderRole.Arn
      Timeout: 30
      MemorySize: 128
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: room-recorder.zip
      Environment:
        Variables:
          RECORDINGS_TABLE: !Ref RecordingsTable
          ANALYTICS_BUCKET: !Ref AnalyticsBucket
          SCREEPS_TOKEN_SECRET: !Ref ScreepsTokenSecret
          SCREEPS_SHARD: !Ref ScreepsShard
          EVENT_BUS_NAME: !Ref ScreepsEventBus

  # Recording Analyzer Lambda
  RecordingAnalyzerFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub screeps-recording-analyzer-${Environment}
      Runtime: nodejs20.x
      Handler: index.handler
      Role: !GetAtt RecordingAnalyzerRole.Arn
      Timeout: 300
      MemorySize: 512
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: recording-analyzer.zip
      Environment:
        Variables:
          RECORDINGS_TABLE: !Ref RecordingsTable
          ANALYTICS_BUCKET: !Ref AnalyticsBucket

  # ==================== Step Functions ====================
  AnalysisWorkflow:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub ${ProjectName}-analysis-workflow
      RoleArn: !GetAtt AnalysisWorkflowRole.Arn
      Definition:
        Comment: Screeps AI Analysis Workflow
        StartAt: BuildContext
        States:
          BuildContext:
            Type: Task
            Resource: !GetAtt ContextBuilderFunction.Arn
            ResultPath: $.context
            Next: AnalyzeWithClaude
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: $.error
                Next: FailState
          AnalyzeWithClaude:
            Type: Task
            Resource: !GetAtt ClaudeAnalyzerFunction.Arn
            InputPath: $.context
            ResultPath: $.analysis
            Next: WriteRecommendations
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: $.error
                Next: FailState
          WriteRecommendations:
            Type: Task
            Resource: !GetAtt RecommendationWriterFunction.Arn
            InputPath: $.analysis
            ResultPath: $.recommendations
            Next: SuccessState
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: $.error
                Next: FailState
          SuccessState:
            Type: Succeed
          FailState:
            Type: Fail
            Cause: Analysis workflow failed
            Error: WorkflowError

  # ==================== API Gateway ====================
  HttpApi:
    Type: AWS::ApiGatewayV2::Api
    Properties:
      Name: !Sub screeps-ai-advisor-${Environment}
      ProtocolType: HTTP
      CorsConfiguration:
        AllowOrigins:
          - '*'
        AllowMethods:
          - GET
          - POST
          - PUT
          - OPTIONS
        AllowHeaders:
          - Content-Type

  HttpApiStage:
    Type: AWS::ApiGatewayV2::Stage
    Properties:
      ApiId: !Ref HttpApi
      StageName: $default
      AutoDeploy: true

  ApiIntegration:
    Type: AWS::ApiGatewayV2::Integration
    Properties:
      ApiId: !Ref HttpApi
      IntegrationType: AWS_PROXY
      IntegrationMethod: POST
      IntegrationUri: !GetAtt ApiFunction.Arn
      PayloadFormatVersion: '2.0'

  RouteMetrics:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: GET /metrics/{roomName}
      Target: !Sub integrations/${ApiIntegration}

  # ==================== v2 Colony Routes ====================
  RouteColonies:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: GET /colonies
      Target: !Sub integrations/${ApiIntegration}

  RouteColonyRoom:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: GET /colonies/{roomName}
      Target: !Sub integrations/${ApiIntegration}

  RouteColonyCreeps:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: GET /colonies/{roomName}/creeps
      Target: !Sub integrations/${ApiIntegration}

  RouteColonyEconomy:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: GET /colonies/{roomName}/economy
      Target: !Sub integrations/${ApiIntegration}

  RouteColonyRemotes:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: GET /colonies/{roomName}/remotes
      Target: !Sub integrations/${ApiIntegration}

  # ==================== v2 Intel Routes ====================
  RouteIntelEnemies:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: GET /intel/enemies
      Target: !Sub integrations/${ApiIntegration}

  RouteIntelCandidates:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: GET /intel/candidates
      Target: !Sub integrations/${ApiIntegration}

  # ==================== v2 Analysis Routes ====================
  RouteAnalysisRecommendations:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: GET /analysis/{roomName}/recommendations
      Target: !Sub integrations/${ApiIntegration}

  RouteAnalysisSignals:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: GET /analysis/{roomName}/signals
      Target: !Sub integrations/${ApiIntegration}

  RouteAnalysisSignalEvents:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: GET /analysis/{roomName}/signals/events
      Target: !Sub integrations/${ApiIntegration}

  RouteAnalysisObservations:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: GET /analysis/{roomName}/observations
      Target: !Sub integrations/${ApiIntegration}

  RouteAnalysisPatterns:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: GET /analysis/{roomName}/patterns
      Target: !Sub integrations/${ApiIntegration}

  RouteAnalysisFeedback:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: POST /analysis/{roomName}/feedback
      Target: !Sub integrations/${ApiIntegration}

  # ==================== v2 Debug Routes ====================
  RouteDebugPositions:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: GET /debug/positions
      Target: !Sub integrations/${ApiIntegration}

  RouteDebugCommandPost:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: POST /debug/command
      Target: !Sub integrations/${ApiIntegration}

  RouteDebugCommandGet:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: GET /debug/command
      Target: !Sub integrations/${ApiIntegration}

  RouteDebugCommandResult:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: GET /debug/command/result
      Target: !Sub integrations/${ApiIntegration}

  # ==================== Recording Routes ====================
  RouteRecordingsCreate:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: POST /recordings
      Target: !Sub integrations/${ApiIntegration}

  RouteRecordingsList:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: GET /recordings
      Target: !Sub integrations/${ApiIntegration}

  RouteRecordingsGet:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: GET /recordings/{recordingId}
      Target: !Sub integrations/${ApiIntegration}

  RouteRecordingsUpdate:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: PUT /recordings/{recordingId}
      Target: !Sub integrations/${ApiIntegration}

  RouteRecordingsSnapshots:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: GET /recordings/{recordingId}/snapshots
      Target: !Sub integrations/${ApiIntegration}

  RouteRecordingsSnapshotGet:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: GET /recordings/{recordingId}/snapshots/{tick}
      Target: !Sub integrations/${ApiIntegration}

  RouteRecordingsTerrain:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: GET /recordings/{recordingId}/terrain
      Target: !Sub integrations/${ApiIntegration}

  RouteViewer:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: GET /viewer
      Target: !Sub integrations/${ApiIntegration}

  # ==================== Recording Analysis Routes ====================
  RouteRecordingsAnalyze:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: POST /recordings/{recordingId}/analyze
      Target: !Sub integrations/${ApiIntegration}

  RouteRecordingsAnalysisSummary:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: GET /recordings/{recordingId}/analysis
      Target: !Sub integrations/${ApiIntegration}

  RouteRecordingsAnalysisType:
    Type: AWS::ApiGatewayV2::Route
    Properties:
      ApiId: !Ref HttpApi
      RouteKey: GET /recordings/{recordingId}/analysis/{type}
      Target: !Sub integrations/${ApiIntegration}

  ApiInvokePermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref ApiFunction
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${HttpApi}/*/*

  # ==================== EventBridge Schedules ====================
  DataCollectSchedule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub screeps-collect-data-${Environment}
      Description: Collect Screeps colony data every 5 minutes
      ScheduleExpression: rate(5 minutes)
      State: ENABLED
      Targets:
        - Id: data-collector
          Arn: !GetAtt DataCollectorFunction.Arn

  DataCollectPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref DataCollectorFunction
      Action: lambda:InvokeFunction
      Principal: events.amazonaws.com
      SourceArn: !GetAtt DataCollectSchedule.Arn

  AnalysisSchedule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub screeps-run-analysis-${Environment}
      Description: Run Screeps AI analysis every hour
      ScheduleExpression: rate(1 hour)
      State: ENABLED
      Targets:
        - Id: analysis-engine
          Arn: !GetAtt AnalysisEngineFunction.Arn

  AnalysisPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref AnalysisEngineFunction
      Action: lambda:InvokeFunction
      Principal: events.amazonaws.com
      SourceArn: !GetAtt AnalysisSchedule.Arn

  # Room Recorder Schedule
  RoomRecorderSchedule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub screeps-room-recorder-${Environment}
      Description: Capture room snapshots for recordings
      ScheduleExpression: rate(1 minute)
      State: ENABLED
      Targets:
        - Id: room-recorder
          Arn: !GetAtt RoomRecorderFunction.Arn

  RoomRecorderPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref RoomRecorderFunction
      Action: lambda:InvokeFunction
      Principal: events.amazonaws.com
      SourceArn: !GetAtt RoomRecorderSchedule.Arn

  # Recording Analysis Auto-Trigger
  RecordingCompleteRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub ${ProjectName}-recording-complete
      Description: Trigger analysis when a recording completes
      EventBusName: !Ref ScreepsEventBus
      EventPattern:
        source:
          - screeps.room-recorder
        detail-type:
          - RecordingComplete
      State: ENABLED
      Targets:
        - Id: recording-analyzer
          Arn: !GetAtt RecordingAnalyzerFunction.Arn
          InputTransformer:
            InputPathsMap:
              recordingId: $.detail.recordingId
            InputTemplate: '{"recordingId": <recordingId>}'

  RecordingAnalyzerPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref RecordingAnalyzerFunction
      Action: lambda:InvokeFunction
      Principal: events.amazonaws.com
      SourceArn: !GetAtt RecordingCompleteRule.Arn

  # ==================== Athena/Glue for QuickSight ====================
  AthenaResultsBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub ${ProjectName}-athena-results-${AWS::AccountId}
      LifecycleConfiguration:
        Rules:
          - Id: ExpireQueryResults
            Status: Enabled
            ExpirationInDays: 7
      Tags:
        - Key: Project
          Value: !Ref ProjectName

  AthenaWorkgroup:
    Type: AWS::Athena::WorkGroup
    Properties:
      Name: !Sub ${ProjectName}-workgroup
      State: ENABLED
      WorkGroupConfiguration:
        ResultConfiguration:
          OutputLocation: !Sub s3://${AthenaResultsBucket}/query-results/
        EnforceWorkGroupConfiguration: true
        PublishCloudWatchMetricsEnabled: true
      Tags:
        - Key: Project
          Value: !Ref ProjectName

  GlueDatabase:
    Type: AWS::Glue::Database
    Properties:
      CatalogId: !Ref AWS::AccountId
      DatabaseInput:
        Name: !Sub ${ProjectName}_db
        Description: Screeps analytics database for QuickSight

  GlueSnapshotsTable:
    Type: AWS::Glue::Table
    Properties:
      CatalogId: !Ref AWS::AccountId
      DatabaseName: !Ref GlueDatabase
      TableInput:
        Name: snapshots
        Description: Colony snapshots for QuickSight analytics
        TableType: EXTERNAL_TABLE
        Parameters:
          classification: json
          projection.enabled: 'true'
          projection.dt.type: date
          projection.dt.range: '2024-01-01,NOW'
          projection.dt.format: yyyy-MM-dd
          projection.hour.type: integer
          projection.hour.range: '0,23'
          projection.hour.digits: '2'
          storage.location.template: !Sub s3://${AnalyticsBucket}/snapshots/dt=${!dt}/hour=${!hour}/
        StorageDescriptor:
          Location: !Sub s3://${AnalyticsBucket}/snapshots/
          InputFormat: org.apache.hadoop.mapred.TextInputFormat
          OutputFormat: org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat
          SerdeInfo:
            SerializationLibrary: org.openx.data.jsonserde.JsonSerDe
          Columns:
            - Name: timestamp
              Type: string
            - Name: timestampms
              Type: bigint
            - Name: gametick
              Type: bigint
            - Name: shard
              Type: string
            - Name: roomname
              Type: string
            - Name: rcl
              Type: int
            - Name: rclprogress
              Type: bigint
            - Name: rclprogresstotal
              Type: bigint
            - Name: energyavailable
              Type: int
            - Name: energycapacity
              Type: int
            - Name: energystored
              Type: int
            - Name: totalcreeps
              Type: int
            - Name: harvester
              Type: int
            - Name: hauler
              Type: int
            - Name: upgrader
              Type: int
            - Name: builder
              Type: int
            - Name: defender
              Type: int
            - Name: remoteminer
              Type: int
            - Name: remotehauler
              Type: int
            - Name: reserver
              Type: int
            - Name: hostilecount
              Type: int
            - Name: hostiledps
              Type: int
            - Name: constructionsites
              Type: int
            - Name: damagedstructures
              Type: int
            - Name: cpuused
              Type: double
            - Name: cpulimit
              Type: int
            - Name: cpubucket
              Type: int
            - Name: gcllevel
              Type: int
            - Name: gclprogress
              Type: bigint
            - Name: gclprogresstotal
              Type: bigint
        PartitionKeys:
          - Name: dt
            Type: string
          - Name: hour
            Type: string

  GlueSignalsTable:
    Type: AWS::Glue::Table
    Properties:
      CatalogId: !Ref AWS::AccountId
      DatabaseName: !Ref GlueDatabase
      TableInput:
        Name: signals
        Description: Signal metrics and events for QuickSight analytics
        TableType: EXTERNAL_TABLE
        Parameters:
          classification: json
          projection.enabled: 'true'
          projection.dt.type: date
          projection.dt.range: '2024-01-01,NOW'
          projection.dt.format: yyyy-MM-dd
          projection.hour.type: integer
          projection.hour.range: '0,23'
          projection.hour.digits: '2'
          storage.location.template: !Sub s3://${AnalyticsBucket}/signals/dt=${!dt}/hour=${!hour}/
        StorageDescriptor:
          Location: !Sub s3://${AnalyticsBucket}/signals/
          InputFormat: org.apache.hadoop.mapred.TextInputFormat
          OutputFormat: org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat
          SerdeInfo:
            SerializationLibrary: org.openx.data.jsonserde.JsonSerDe
          Columns:
            - Name: timestamp
              Type: string
            - Name: timestampms
              Type: bigint
            - Name: gametick
              Type: bigint
            - Name: roomname
              Type: string
            - Name: energystored
              Type: int
            - Name: energyavailable
              Type: int
            - Name: energycapacity
              Type: int
            - Name: rclprogress
              Type: bigint
            - Name: rcllevel
              Type: int
            - Name: gclprogress
              Type: bigint
            - Name: creeptotal
              Type: int
            - Name: cpuused
              Type: double
            - Name: cpubucket
              Type: int
            - Name: remoteminercount
              Type: int
            - Name: remotehaulercount
              Type: int
            - Name: reservercount
              Type: int
            - Name: hostilecount
              Type: int
            - Name: towerenergy
              Type: int
            - Name: energydelta
              Type: int
            - Name: rclprogressrate
              Type: bigint
            - Name: creepdelta
              Type: int
            - Name: cpudelta
              Type: double
            - Name: eventcount
              Type: int
            - Name: hasthresholdevent
              Type: int
            - Name: hasanomalyevent
              Type: int
            - Name: hastrendevent
              Type: int
            - Name: criticalevents
              Type: int
            - Name: warningevents
              Type: int
            - Name: alertevents
              Type: int
        PartitionKeys:
          - Name: dt
            Type: string
          - Name: hour
            Type: string

Outputs:
  ApiEndpoint:
    Description: API Gateway endpoint URL
    Value: !GetAtt HttpApi.ApiEndpoint
    Export:
      Name: !Sub ${ProjectName}-api-endpoint

  SnapshotsTableName:
    Description: DynamoDB snapshots table name
    Value: !Ref SnapshotsTable

  EventsTableName:
    Description: DynamoDB events table name
    Value: !Ref EventsTable

  RecommendationsTableName:
    Description: DynamoDB recommendations table name
    Value: !Ref RecommendationsTable

  ScreepsTokenSecretArn:
    Description: ARN of Screeps token secret
    Value: !Ref ScreepsTokenSecret

  AnthropicKeySecretArn:
    Description: ARN of Anthropic API key secret
    Value: !Ref AnthropicKeySecret

  KnowledgeTableName:
    Description: DynamoDB knowledge table name
    Value: !Ref KnowledgeTable

  EventBusName:
    Description: EventBridge bus name
    Value: !Ref ScreepsEventBus

  MetricsHistoryTableName:
    Description: DynamoDB metrics history table name
    Value: !Ref MetricsHistoryTable

  AnalysisWorkflowArn:
    Description: Step Functions analysis workflow ARN
    Value: !Ref AnalysisWorkflow

  ArchiveBucketName:
    Description: S3 archive bucket name
    Value: !Ref ArchiveBucket

  IntelTableName:
    Description: DynamoDB intel table name
    Value: !Ref IntelTable

  AnalyticsBucketName:
    Description: S3 analytics bucket for QuickSight/Athena
    Value: !Ref AnalyticsBucket

  AthenaWorkgroupName:
    Description: Athena workgroup name
    Value: !Ref AthenaWorkgroup

  GlueDatabaseName:
    Description: Glue database name for Athena
    Value: !Ref GlueDatabase

  RecordingsTableName:
    Description: DynamoDB recordings table name
    Value: !Ref RecordingsTable
